@charset "utf-8";

@use '../lib/global'as g;

h1{
  padding: 100rem;
}

.stars-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: #132C52;
  background: radial-gradient(circle, rgba(19, 44, 82, 1) 0%, rgba(15, 33, 65, 1) 40%, rgba(24, 32, 50, 1) 80%);
  overflow: hidden;
}

.star {
  position: absolute;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2);
  opacity: 0;
  animation: twinkle 5s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}