@charset "utf-8";

@use '../lib/global'as g;

/*----------------------------------------------------

	各ページの独自モジュールスタイルのCSS。

	【記述ルール】
	{ ページ名(top, about等) }○○○○

	階層はルートクラスより、三階層までが基本
	【例】
	.top-sec .top-sec__ttl span {
	}
	※CSSに展開した場合

----------------------------------------------------*/

main {
	overflow: hidden;
}

// .pin-spacer {
// 	padding: 0 !important;
// 	margin: 0 !important;
// 	// overflow: hidden !important;
// 	height: auto !important;
// }

.service {
	position: relative;
	padding: 15rem 0 0;

	.service-pin-wrapper {
		position: relative;
		height: 100vh;
		overflow: hidden;
	}

	&__list {
		position: relative;
		height: 100%;
	}

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 4rem 0;
		box-sizing: border-box;

		h3 {
			font-size: 6rem;
		}

		p {
			font-size: 2.4rem;
		}
	}

	.dot {
		width: 20px;
		height: 20px;
		background: #fff;
		border-radius: 50%;
		position: absolute;
	}
}


.works {
	padding: 10rem 0;

	&__wrap {
		display: flex;
	}

	&__list-wrap {
		position: relative;
		width: 100%;
		height: 28rem;
		margin-left: 20rem;
	}

	&__list {
		position: absolute;
		display: flex;
		gap: 4rem;
		width: max-content;
		margin-top: 10rem;

		li {
			width: 30vw;
			flex-shrink: 0;
		}

		&-img {
			width: 100%;
			height: 25rem;
			background: #eee;
		}
	}
}

.contact {
	padding-top: 10rem;

	&__scroll-border {
		position: relative;
		transform: translateX(-50%);
		left: 50%;
		width: 10px;
		height: 6rem;
		overflow: hidden;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 1px;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
			margin: auto;
		}

		&::after {
			position: absolute;
			content: "";
			display: block;
			width: .5rem;
			height: .5rem;
			left: 0;
			right: 0;
			background: #fff;
			border-radius: 50%;
			animation: scrollbar 1.5s ease-in-out infinite;
			margin: auto;
		}
	}

	&__scroll-txt {
		position: relative;
		font-size: 4rem;
		text-align: center;
	}

	&__ttl {
		font-size: 28rem;
		font-weight: bold;
		text-align: center;
		line-height: 1;

		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
		}
	}

	&__icon {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 1000;
	}

	.mail-icon {
		position: absolute;
		transform: translate(-50%, -50%);
		font-size: 24px;
		color: white;
		opacity: 1;
		pointer-events: none;
	}
}

@keyframes scrollbar {
	0% {
		bottom: 6rem;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		bottom: -10px;
		opacity: 0;
	}
}