@charset "utf-8";

@use '../lib/global' as g;

.heading-A{
  position: relative;
  font-size: 4rem;
  padding-left: 5rem;

  &::before{
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    background: #CAC52A;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
  }
}