@charset "utf-8";

@use '../lib/global'as g;

.mv {

  &__txt-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60rem;
  }

  &__txt,
  &__subtxt {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    font-size: 18rem;
    font-weight: bold;
    letter-spacing: .05em;
  }

  &__txt {

    span {
      /* CSSアニメーション関係 */
      transform: translateY(2em);
      animation: textanimation 1s forwards;

      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          animation-delay: #{($i * 0.2)}s;
        }
      }
    }
  }

  &__subtxt {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes textanimation {
  0% {
    transform: translateY(2em);
  }

  100% {
    transform: translateY(0);
  }
}